APP_ENV=dev
SNAPSHOT_FILE=artifacts/dev/latest-snapshot.json

SHIPOX_USERNAME=
SHIPOX_PASSWORD=
SHIPOX_ID_TOKEN=
SHIPOX_MARKETPLACE_ID=307345429

MONGODB_URI=
MONGODB_DB=zood
MONGODB_COLLECTION=shipox_webhook
